body{
  background-color: white;
}

h1 {
  text-align: center;
  padding-bottom: 45px;
}

.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  background-image: url('http://svgur.com/i/CE.svg');
  background-size: contain;
  padding: 45px;
  background-color: #2196F3;
  width: 60px;  
  height: 60px;
  margin: 30px auto 0;
  position: relative;
}

.buttons:focus{
-moz-box-shadow: 0 0 3px grey;
-webkit-box-shadow: 0 0 3px grey;
box-shadow: 0 0 3px grey;
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

